<html ng-app="myApp">
<head>
    <script src="https://code.angularjs.org/1.5.5/angular.js"></script>
    <script src="app.js"></script>
    </head>
    <body ng-controller="myCntrl">
    <h1>Calculator App</h1>
    <input type="number" ng-model = "input1"><span ng-bind="abc"></span>
         <input type="number" ng-model="input2"> <button ng-click="finalAns()">=</button> :{{answer}}
        <br>
        <br>
        Choose operation : <button ng-click="add()"  >+</button>
        <button ng-click="sub()" >-</button>
        <button ng-click="mul()" >*</button>
        <button ng-click="divide()" >/</button>
    </body>
</html>